.body {
    background-color: whitesmoke;
}

.black-bg {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .3);
}

/* 데스크톱 환경에 대한 스타일 */
@media (min-width: 768px) {
    .black-bg {
        min-height: 100vh;
        /* 데스크톱 환경에서 적절한 높이 설정 */
    }
}

/* 모바일 환경에 대한 스타일 */
@media (max-width: 767px) {
    .black-bg {
        min-height: 100dvh;
        /* 모바일 환경에서 적절한 높이 설정 */
    }

    .mypage-mobile {
        margin-bottom: 10px;
    }
}

.nav-link {
    border: 0.8px solid lightgray;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.nav-link.active {
    background-color: rgb(226, 226, 226);
    color: black;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
}

/* 모바일 화면에서 메뉴 항목의 높이를 조절하여 한 줄로 글씨 표시 */
@media (max-width: 767px) {
    .nav-link {
        display: inline-flex;
        white-space: nowrap;
        /* 글씨가 넘칠 경우 줄 바꿈 방지 */
        padding: 0.5em 0.5em;
    }
}

/* 사용자에게 일기 작성에 대한 답변 보여주는 부분 */

.result {
    width: 100%;
    height: 400px;
    padding: 10px;
    border: 0.8px solid lightgray;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.chat-container {
    display: flex;
    flex-direction: column;
}

.chat-bubble {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
}

.user-bubble {
    text-align: left;
    align-self: flex-start;
    background-color: white;
}

.assistant-bubble {
    text-align: left;
    align-self: flex-end;
    background-color: white;
}

/* 일기 입력 하는 부분 */
#userDiary {
    border: 0.8px solid lightgray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
}

.btn-outline-secondary {
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 10px !important;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

/* 로딩 구현 */
.loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    text-align: center;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 325px auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 마이페이지 박스 부분 */
#user-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

/* 일기 목록 부분 */
.list-group-item {
    border: 0.8px solid lightgray !important;
    border-radius: 10px !important;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* 일기 검색 부분 */
.me-2 {
    background-color: white;
    border-radius: 10px;
}

.search{
    width: 70%;
    border: 0.8px solid lightgray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
}

.page-link{
    color: black;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.page-link.active{
    background-color: gray; /* 적절한 색상으로 변경하세요 */
    color: #fff; /* 활성화된 페이지의 텍스트 색상 */
}
